.cf7nc-card-container {
    position: fixed;
    right: 0;
    background: white;
    padding: 15px;
    border: 1px solid darkgray;
    width: 100%;
    max-width: 400px;

}

.cf7nc-card-container .cf7nc-card-wrapper {
    position: relative;
}

.cf7nc-card-container .cf7nc-card-wrapper .close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

