.cf7nc-card-container {
    position: fixed;
    right: 0;
    background: white;
    padding: 15px;
    border: 1px solid darkgray;
    width: 100%;
    max-width: 400px;
    z-index: 999;
}

.cf7nc-card-container .cf7nc-card-wrapper {
    position: relative !important;
}

.cf7nc-card-container .cf7nc-card-wrapper .close-button {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    cursor: pointer;
}

.cf7nc-card-container .cf7nc-card-wrapper h4{
    margin-top: 0px;
}

